body {
    background-color: #572727;
    /* Це просто жесть вибрати колір, особливо різниця між ігровим моніком з HDR і офісним!!!  */
}
/* Таблиця tableHeader */
#tableHeader {
    display: table;
    border-spacing: 10px;
    width: 100%;
    text-align: center;
}
#tableRow {display: table-row; height: 15px}
#numberHM {display: table-cell;
    border: double;
    border-width: medium;
    padding: 10px;
    width: 500px;
    border-color: cadetblue;
    border-top-left-radius: 15px;

    background-color: #F6F3F3;

}
#lessonTopic {display: table-cell;
    border-style: double;
    border-width: medium;
    padding: 10px;
    border-color: cadetblue;
    background-color: #F6F3F3;

}
#profileStudent {display: table-cell;
    border-style: double;
    border-width: medium;
    padding: 10px;
    border-color: cadetblue;
    border-top-right-radius: 15px;
    background-color: #F6F3F3;
} /* Таблиця tableHeader */

#mainMenu {
    border: double;
    border-style: double;
    border-color: cadetblue;
    border-width: medium;
    margin: 10px;
    height: 2000px;
    background-color: #F6F3F3;
}

#mainFoto {
    margin: 10px 30px 30px 10px;
    float: left;
    border-style: solid;
    border-color: #572727;
    border-radius: 10px;


}
.mainChaList {
    font-weight: bold;
    line-height: 2em;
}
#mainPlotFilm {
    font-size: 18px;
    font-family: "Times New Roman";
}

#mainHistory {
    padding: 10px;
    font-size: 17px;
    font-family: sans-serif;
    font-style: italic;
}
#sopranos {
    float: left;
    margin: 10px 10px 10px 0px;
    border-radius: 10px;
    border-style: solid;

}
#djoRidji {
    float: right;
    border-radius: 10px;
    border-style: solid;
    margin: 15px;
}