.wrapper {
    width: 1440px;
    height: 4027px;
    margin-left: 4%;
}
@media (max-width: 992px) {
    /*.headerPhones {*/
    /*    width: 68.8%;*/
    /*    object-fit: cover;*/
    /*}*/
    header {
        width: 68.8%;
        height: auto;
    }

}
header {
    width: 100%;
    height: 16.52%;
    display: grid;
    position: relative;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 1fr);
    background-color: #F4F6F9;
}
.headerPhones {
    grid-row: 1 / 21;
    grid-column: 4/ 11;
    overflow: hidden;
    margin-left: 5.10%;
    object-fit: fill;
    max-width: 100%;
}