.wrapper {
    width: 1440px;
    height: 4027px;
}

header {
    width: 100%;
    height: 16.52%;
    display: grid;
    position: relative;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 1fr);
}