.container-fluid {background-color: #FAFAFA;}
.global {max-width: 1448px; background-color: #FAFAFA;}
.df { background-color: #FAFAFA;}
body {
    width: 100vw;
    height: 100vh;
}
.btn {background-color: #4094EF; border: none; margin-left: 5px; height: 29px;}
.btn_points {
    width: 38px;
    height: 30px;
    background: url("images/points.png");
    background-repeat: no-repeat;
    background-position: center;
    border: none;

}

.follow {
    width: 97px;
    height: 29px;
    color: white;
    padding-bottom: 5px;
    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-left: 26px;
    margin-right: 5px;
}
.name_user {
    font-family: 'Helvetica Neue',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px!important;
    line-height: 32px;
    margin-top: 5px;
}
.fol {
    font-family: 'Helvetica Neue',sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
}
h6{
    font-family: 'Helvetica Neue'
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 30px;
}
.bla-bla p {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
}
.friends p {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}
.b_Posts{
    border: none;
    background-color:#FAFAFA ;
}
.but_post {
    border-top-style: solid;
    border-top-width: thin;
}
.fff {

    width: 314px;
    height: 314px;

    background-image: url("images/back_foto.png");
    background-repeat: no-repeat;
}
.foto_collection {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;

}
.friends__one {
    flex-shrink: 0;
}
@media (max-width: 400px){

    .icons {
        margin-top: 10px;
    }
}
@media (max-width: 764px) {
    .icons {
        margin-top: 10px;
    }
}







































