https://classroom.google.com/c/NDY3MTAxMDc3ODMx/a/NTI1MDY1ODk2OTg3/details

https://www.w3schools.com/css/css3_animations.asp

ДЗ - https://telegra.ph/An%D1%96mac%D1%96i-ta-transformac%D1%96i-12-13

https://www.youtube.com/watch?v=rr-Dho47jqo


