.wrapper {
    width: 1440px;
    height: 4027px;
    margin-left: 4%;
}
header {
    width: 1440px;
    height: 665px;
    display: flex;
    position: relative;
    background-color: #F4F6F9;
    background-image: url("images/frame.svg");
    background-size: 67% auto;
    background-position: right 0;
    background-repeat: no-repeat;
}


















































































@media (max-width: 900px) {
    header {
        width: 900px;
        height: 415px;
    }
}
