@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    url("fonts/productsans.ttf") format("ttf")
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.wrapper { max-width: 1440px; height: 4027px; margin: 0 auto; }

@media (max-width: 460px) {
    .wrapper { max-width: 360px; height: 5897px; margin: 0 auto; }
}
/*------------------------------------------------------------------------------------------------------------------*/
header {
    width: 100%; /*1440px*/
    height: 16.51353%;  /*665px*/
    display: block;
    position: relative;
    background-color: #F4F6F9;
    background-image: url("images/headerBack.png");
    background-size: 56% auto;
    background-position: right 0;
    background-repeat: no-repeat;
}
.headerMenu {
    display: block;
    position: absolute;
    width: 39.9%;
    height: 85%;
    margin-left: 10%;
    margin-top: 6%;
}
.logo {display: flex; width: 16.5%;   /*99px*/ height: 5.7%;  /*32px;*/ justify-content: space-between; margin-bottom: 20%;}
.headerText {
    display: flex;
    margin-bottom: 5%;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.03em;
    color: #333333;}

.headerText2 {
    width: 453px;
    display: flex;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #4F4F4F;
    margin-bottom: 8.42%;
}
.headerButtons {
    display: flex;
    width: 350px;
    height: 47px;
    justify-content: space-between;
    cursor: pointer;
}

@media (max-width: 460px) {
    header {
        max-width: 100%;
        height: 525px;
        background-image: none}

    .logo {
        position: absolute;
        width: 99px;
        height: 32px;
        margin-left: 131px;
        margin-top: 32px;}
    .headerText {
        font-size: 30px;
        width: 320px;
        height: 119px;
        margin-left: 20px;
        margin-top: 150px;
        text-align: center;
        line-height: 40px;
        letter-spacing: 0.03em;}
    .headerText2 {
        margin-left: 20px;
        width: 320px;
        height: 70px;
        font-size: 16px;
        line-height: 23px;
        text-align: center;}
    .headerMenu {margin: 0}
    .headerButtons {
        width: 310px;
        height: 44px;
        margin-left: 25px;
        margin-top: 55px;
    }
}
/*------------------------------------------------------------------------------------------------------------------*/

.secondBlock {
    position: relative;
    display: flex;
    width: 100%;
    height: 14.7%;
}
.leftSecondBlock {
    display: block;
    position: relative;
    width: 50%;
    height: 100%;
    background: linear-gradient(270deg, #FFFFFF 5.16%, rgba(255, 255, 255, 0) 67.14%), rgba(255, 255, 255, 0.5) url(images/B2_background.png) no-repeat;
}
.rightSecondBlock {
    position: relative;
    display: inline-block;
    width: 40%;
    height: 60%;
    margin-top: 9%;
}
.sb_front_image {position:relative;  z-index: 5; margin-left: 21%; margin-top: 17%; box-shadow: -22.0416px 23.8785px 48.9814px rgb(0 0 0 / 50%); border-radius: 4px;}
.sb_back_image {position:relative; margin-left: 34.9%; margin-top: -5%; z-index: 0; box-shadow: -22.0416px 23.8785px 48.9814px rgb(0 0 0 / 50%); border-radius: 4px; background-color: #4F4F4F;}

.rsb_header {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #00ADEE;
}
.rsb_header_position2 {margin-top: 3%;}
.rsb_header2 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
}
.rsb_text_position {margin-top: 3%; width: 407px; height: 185px}
.rsb_text {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #4F4F4F;
}
.rsb_footerText_position {margin-top: 3%;}
.rsb_footerText {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #00ADEE;
    cursor: pointer;
}
@media (max-width: 460px) {
    .leftSecondBlock {
        position: absolute;
        width: 388px;
        height: 360px;
        margin-top: 520px;
        background: linear-gradient(270deg, #FFFFFF 5.16%, rgba(255, 255, 255, 0) 67.14%), rgba(255, 255, 255, 0.5) url(images/B2_background_mob.png) no-repeat ;
    }
    .sb_front_image {
        width: 247px;
        height: 149px;
        margin-left: 20px;}
    .sb_back_image {
        width: 247px;
        height: 149px;
        margin-left:92px;}
    .rsb_header {

        margin-top: 30px;
        width: 320px;
        height: 22px;
        margin-left: 20px;
        text-align: center;
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
    }
    .rsb_header_position2 {
        width: 320px;
        height: 74px;
        margin-left: 20px;
        text-align: center;
        margin-top: 27px;
    }
    .rsb_text {
        width: 320px;
        height: 208px;
        margin-top: 20px;
        margin-left: 20px;
        text-align: center;
    }
    .rsb_footerText {
        width: 320px;
        height: 22px;
        text-align: center;
        margin-top: 19px;
    }
}
/*------------------------------------------------------------------------------------------------------------------*/
.thirdBlock {
    display: flex;
    width: 100%;
    height: 17.73%;
    position: relative;
    justify-content: flex-end;
    align-items: flex-end;
}
.thirdBlock_left {
    position: relative;
    width: 36%;
    height: 70%;
}
.thirdBlock_right {
    position: relative;
    width: 52%;
    height: 100%;
    background-image: url("images/block3_right.png");
}
@media (max-width: 460px) {
    .thirdBlock {
        display: block;
        width: 360px;
        height: 410px;
        margin-top: 15px;
        position: relative;
    }
    .rsb_text_position {
        margin-top: -10px;
    }
   .thirdBlock_left>p> {
       height: 37px
    }
    .rsb_text_position {margin-top: 10px}
    .thirdBlock_right {
        margin-top: 95px;
        display: block;
        position: relative;
        width: 100%;
        height: 565px;
        background-image: url("images/block3_right_mob.png");
    }
}
/*------------------------------------------------------------------------------------------------------------------*/
.fourBlock {
    position: relative;
    width: 100%;
    height: 18.25%;
    background-image: url("images/four_block_background.png");
    text-align: center;

}
.fourBlock h2 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
    color: #FFFFFF;
    margin-top: 4%;
}
.features {
    position: relative;
    display: grid;
    width: 80%;
    height: 75%;
    margin-left: 10%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 7%;
    column-gap: 9%;
    text-align: left;
    margin-top: 4%;
}
.features p {padding-top: 3%;}
.itemText {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
}

@media (max-width: 460px) {
    .fourBlock {
        margin-top: 535px;
        display: block;
        position: relative;
        width: 100%;
        height: 1775px;
        background-color: #FAFAFA;
        background-image: none;
    }
    .fill {fill: #00ADEE}
    .fourBlock p {color: black}
    .fourBlock h2 {color: black; width: 318px; height: 74px; text-align: center; position: relative; margin: 42px auto}
    .features {
        display: grid ;
        width: 95%;
        height: 1600px;
        margin: 15px auto;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
        column-gap: 10px;
        row-gap: 10px;

        text-align: center;
    }
    .item1 {grid-column: auto; grid-row: auto; padding: 0 15px}
}
/*------------------------------------------------------------------------------------------------------------------*/
.fifeBlock {
    width: 100%;
    height: 10.66%;
    position: relative;
    overflow: hidden;
}
.fifeBlock>p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
    text-align: center;
    margin-top: 4.18%;
}
.usersSay {
    display: flex;
    position: relative;
    margin-top: 4.4%;
    height: 37.5%;
    justify-content: space-between;
    z-index: 1;
}
.b5 {
    display: block;
    position: relative;
    width:21.45%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 4px ;
    background-repeat: no-repeat;
}
.block1 {margin-left: -12%;
    background-image: url("images/block1.png");
    background-repeat: no-repeat;
    background-position: right;
}
.block5 {margin-right: -8%; background-image: url("images/block5.png")}
.block2 {background-image: url("images/block2.png")}
.block3 {background-image: url("images/block3.png")}
.block4 {background-image: url("images/block4.png")}
.circles {
    position: absolute;
    width: 100%;
    height: 37.5%;
    z-index: 4;
    margin-top: 4.4%;
}
.left_circle {margin-left: 7%; margin-top: 3%;}
.right_circle {margin-top: 2.9%; margin-left: 78%;}
.points {margin-top: 3.5%; margin-left: 46%}
@media (max-width: 460px) {
    .usersSay {height: 161px; justify-content: center}
    .fifeBlock {
        display: block;
        width: 100%;
        height: 402px;
    }
    .fifeBlock p{
        width: 300px;
        height: 37px;
        margin: 40px auto;
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 37px;
    }
    .block1 {display: none}
    .block2 {display: none}
    .block4 {display: none}
    .block5 {display: none}
    .left_circle {display: none}
    .b5 {width: 309px; height: 161px; }
    .points {margin-top: 10%; margin-left: 30%}
    .right_circle {margin-top: 35px; margin-left: 300px;}
}
/*------------------------------------------------------------------------------------------------------------------*/
.sixBlock {
    width: 100%;
    height: 6.85%;
    position: relative;
}
.b6_7 {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
    text-align: center;
    margin-top: 3%;
}
.sixB_flex {
    display: flex;
    position: relative;
    width: 80%;
    height: 30%;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: center;
    justify-content: space-between;
}
@media (max-width: 460px) {
    .sixBlock {
        display: block;
        width: 360px;
        height: 409px;
    }
    .b6_7 {width: 340px; height: 37px; margin: 45px auto}
    .sixB_flex {
        display: grid;
        width: 330px;
        height: 220px;
        justify-content: start;
        vertical-align: center;
        grid-template-columns: 110px 110px 110px;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
    "one . two"
    "three four fife"
    "six six six";
    }
    .one { grid-area: one; }
    .two { grid-area: two; margin-top: 10px}
    .three { grid-area: three; }
    .four { grid-area: four; }
    .fife { grid-area: fife; align-self: start;margin-left: 30px}
    .six { grid-area: six; margin: 10px auto}
}
/*------------------------------------------------------------------------------------------------------------------*/
.sevenBlock {
    width: 100%;
    height: 11.95%;
    display: flex;
}
.sevenLeft {
    display: block;
    width: 46.25%;
    height: 100%;
    background-image: url("images/b7_background.png");
}
.sevenRight{
    display: block;
    height: 100%;
    width: 53.8%;
    background-color: white;
}
.sevenRight>p {width: 73%; margin-left: 10%; margin-bottom: 6%}
.sevenHeader {text-align: left; margin: 12% 0 8% 10%}
.sevenButtons {margin-left: 10%}
@media (max-width: 460px) {
    .sevenBlock {
        display: block;
        width: 100%;
        height: 400px;

    }
    .sevenRight>p { width: 320px; height: 74px; text-align: center}
    .sevenButtons {width: 320px;  margin-top: 150px;  }
    .sevenLeft {
        display: block;
        position: absolute;
        background-image: url("images/b7_background_mob.png");
        width: 100%;
        height: 261px;
        margin-top: 400px;
    }
}
/*------------------------------------------------------------------------------------------------------------------*/
footer {
    border: 1px solid green;
    display: flex;
    width: 100%;
    height: 3.15%;
    justify-content: space-evenly;
    align-items: center;
    background-color: #00ADEE;
    cursor: pointer;
}
.footer_left{margin-top: auto; margin-bottom: auto}
.footerCenter {width: 30%;}
#footerList {
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    cursor: pointer;
}
.footerRight {width: 8%}
#footerIcons {
    display: flex;
    list-style: none;
    justify-content: space-between;
}
@media (max-width: 460px) {
    footer {
        display: block;
        margin-top: 260px;
        width: 100%;
        height: 210px;
    }
    .footerLeft {
        margin-top: 43px;
        margin-left: 21px;
    }
    .footerCenter {
        margin-top: 75px;
        position: absolute;
        width: 321px;
        height: 22px;
        margin-left: 19px;
    }
    .footerRight {
        width: 100px;
        height: 25px;
        margin-left: 21px;
        margin-top: 11px;


    }
}



































