@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body {font-family: 'Lato', sans-serif; margin: 0px;box-sizing: content-box; height: 100%}

/*Шапка сайту*/
nav {
    width: 1440px;
    background-color: #ED4C5C;
    height: 500px;
    position: relative;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1 {
    display: block;
    position: absolute;
    margin: 0px;
    padding-top: 122px;
    padding-left: 165px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 43.2px;
    color: #ffffff;
}
nav p {
    display: block;
    position: absolute;
    margin: 0px;
    padding-top: 253px;
    padding-left: 165px;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
#back_left {
    display: block;
    position: absolute;
    margin: 0px;
    padding-left: 691px;
    padding-top: 116px;
    width: 383px;
    height: 267px;
    border-radius: 15px;
    max-width: 100%;

}
#back_right {
    display: block;
    position: absolute;
    margin: 0px;
    padding-left: 841px;
    padding-top: 116px;
    width: 383px;
    height: 267px;
    border-radius: 15px;
    max-width: 100%;

}
#front_picture {
    display: block;
    position: absolute;
    margin: 0px;
    padding-left: 735px;
    padding-top: 94px;
    width: 445px;
    height: 311px;
    border-radius: 15px;
    max-width: 100%;
}
nav a {
    display: block;
    position: absolute;
    margin: 0px;
    padding-left: 163px;
    padding-top: 357px;
    width: 134px;
    height: 32px;
}











/*Шапка сайту*/






















#contact {
    width: 1440px;
    height: 500px;
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
    position: relative;
}






footer {
    width: 1440px;
    height: 435px;
    background-color: #FAFAFA;
    margin: 0px;
    padding: 0px;
    position: relative;

}