@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body {font-family: 'Lato', sans-serif; margin: 0px;}

/*Шапка сайту*/
nav {
    width: 1440px;
    background-color: #ED4C5C;
    height: 500px;
    position: relative;
    margin: 0px;
    padding: 0px;
}
h1 {
    display: block;
    position: absolute;
    margin: 0px;
    padding-top: 122px;
    padding-left: 165px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 43.2px;
    color: #ffffff;
}
nav p {
    display: block;
    position: absolute;
    margin: 0px;
    padding-top: 253px;
    padding-left: 165px;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}












/*Шапка сайту*/






















#contact {
    width: 1440px;
    height: 500px;
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
    position: relative;
}






footer {
    width: 1440px;
    height: 435px;
    background-color: #FAFAFA;
    margin: 0px;
    padding: 0px;
    position: relative;

}