@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body {font-family: 'Lato', sans-serif; margin: 0px;box-sizing: content-box; height: 100%}

/*Шапка сайту*/
nav {
    width: 100%;
    background-color: #ED4C5C;
    height: 500px;
    position: relative;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1 {
    display: block;
    position: absolute;
    margin: 0px;
    padding-top: 122px;
    padding-left: 165px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 43.2px;
    color: #ffffff;
}
nav p {
    display: block;
    position: absolute;
    margin: 0px;
    padding-top: 253px;
    padding-left: 165px;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
#back_left {
    display: block;
    position: absolute;
    margin: 0px;
    padding-left: 691px;
    padding-top: 116px;
    width: 383px;
    height: 267px;
    border-radius: 15px;
    max-width: 100%;

}
#back_right {
    display: block;
    position: absolute;
    margin: 0px;
    padding-left: 841px;
    padding-top: 116px;
    width: 383px;
    height: 267px;
    border-radius: 15px;
    max-width: 100%;

}
#front_picture {
    display: block;
    position: absolute;
    margin: 0px;
    padding-left: 735px;
    padding-top: 94px;
    width: 445px;
    height: 311px;
    border-radius: 15px;
    max-width: 100%;
}
nav a {
    display: block;
    position: absolute;
    margin: 0px;
    padding-left: 163px;
    padding-top: 357px;
    width: 134px;
    height: 32px;
}
/*Шапка сайту*/
/* main */

#contact {
    display: block;
    width: 100%;
    height: 500px;
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
    position: relative;

}
#contact_p1 {
    position: absolute;
    width: 445px;
    height: 107px;
    padding-left: 176px;
    padding-top: 117px;
    color: #000000;
    font-size: 36px;
    line-height: 43.2px;

}
#contact_p2 {
    position: absolute;
    width: 445px;
    height: 107px;
    padding-left: 176px;
    padding-top: 213px;
    color: #000000;
    font-size: 14px;
    line-height: 19.6px;
}

#firstName {
    display: block;
    position: absolute;
    width: 255px;
    height: 60px;
    border: 1px solid #333333;
    margin-left: 735px;
    margin-top: 117px;
    border-radius: 6px;
}
#firstName p {
    font-size: 16px;
    line-height: 19px;
    color: rgba(19, 39, 67, 0.5);
    font-weight: 400;
    border-radius: 6px;
    padding-top: 21px;
    padding-left: 31px;
    margin: 0px;
}
#lastName {
    display: block;
    position: absolute;
    width: 255px;
    height: 60px;
    border: 1px solid #333333;
    margin-left: 1020px;
    margin-top: 117px;
    border-radius: 6px;
}
#lastName p {
    font-size: 16px;
    line-height: 19px;
    color: rgba(19, 39, 67, 0.5);
    font-weight: 400;
    border-radius: 6px;
    padding-top: 21px;
    padding-left: 31px;
    margin: 0px;
}

#phone {
    display: block;
    position: absolute;
    width: 540px;
    height: 60px;
    border: 1px solid #333333;
    margin-left: 735px;
    margin-top: 201px;
    border-radius: 6px;
}
#phone p {
    font-size: 16px;
    line-height: 19px;
    color: rgba(19, 39, 67, 0.5);
    font-weight: 400;
    border-radius: 6px;
    padding-top: 21px;
    padding-left: 31px;
    margin: 0px;
}

#service {
    display: block;
    position: absolute;
    width: 540px;
    height: 60px;
    border: 1px solid #333333;
    margin-left: 735px;
    margin-top: 285px;
    border-radius: 6px;
}
#service p {
    font-size: 16px;
    line-height: 19px;
    color: rgba(19, 39, 67, 0.5);
    font-weight: 400;
    border-radius: 6px;
    padding-top: 21px;
    padding-left: 31px;
    margin: 0px;
}
#service_bird {
    font-family: "Segoe MDL2 Assets";
    font-size: 14px;
    color: rgba(19, 39, 67, 0.5);
    margin-top: 308px;
    margin-left: 1235px;
    line-height: 14px;
    position: absolute;
    padding: 0px;
    display: block;
}
#contact button {
    display: block;
    position: absolute;
    height: 50px;
    width: 160px;
    margin-left: 735px;
    margin-top: 372px;
    background-color: #ED4C5C;
    border-radius: 6px;
    border: 1px solid #ED4C5C;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}





















footer {
    width: 100%;
    height: 435px;
    background-color: #FAFAFA;
    margin: 0px;
    padding: 0px;
    position: relative;

}