@import url(reset.scss);
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
.wrapper {
  max-width: 100%;
  height: 4628px;
  background: #FFFFFF;
  margin: 0 auto;
  overflow: scroll;
}

@media (max-width: 720px) {
  .wrapper {
    max-width: 360px;
    height: 4628px;
    margin: 0 auto;
  }
}
.fourBlock .fourBlockContent p, .thirdBlock .thirdBlockRight .blockText p, .secondBlock .sbLeft .sbLeftHeader p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #6F7CB2;
}

footer .footerDown .footerDown_Left p, header a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #505F98;
  text-decoration: none;
}

.fourBlock .fourBlockContent h3, .thirdBlock .thirdBlockRight .blockText h3, .secondBlock .sbLeft .sbLeftHeader h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  color: #091133;
}

footer .footerUp button, header button {
  background: #111B47;
  border-radius: 2px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  width: 11.1111111111%;
  height: 26px;
  margin-top: 18px;
  cursor: pointer;
}

.secondBlock .sbLeft .sbLeftFooter .sbLeftFooterLeft h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #091133;
}

header {
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: space-around;
}
header .leftHead {
  display: flex;
  width: 17.0138888889%;
  justify-content: space-between;
  margin-top: 18px;
}
header h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 38px;
  color: #37447E;
  margin-top: 12px;
}
@media (max-width: 720px) {
  header {
    height: 110px;
  }
  header .leftHead {
    display: flex;
    width: 17.0138888889%;
    flex-direction: column;
    margin-top: 18px;
  }
  header button {
    width: 80px;
    font-size: 14px;
  }
  header a {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 18px;
    color: #505F98;
  }
}
.firstBlock {
  width: 100%;
  height: 23.768366465%;
  background: url("../images/mainFoto.svg");
  background-position: right;
  background-repeat: no-repeat;
}
.firstBlock .mainContent {
  max-width: 539px;
  padding-top: 352px;
  margin-left: 11%;
}
.firstBlock .mainContent h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  color: #091133;
  padding-bottom: 20px;
}
.firstBlock .mainContent p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #505F98;
  padding-bottom: 76px;
}
.firstBlock .mainContent .buttonBlock {
  display: flex;
  justify-content: space-between;
  width: 78%;
}
.firstBlock .mainContent button {
  border: 1px solid #091133;
  border-radius: 2px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  background-color: #111B47;
  width: 189px;
  height: 26px;
  cursor: pointer;
}
.firstBlock .mainContent button + button {
  border: 2px solid #091133;
  border-radius: 2px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #091133;
  background-color: #E7ECFF;
  width: 189px;
  height: 26px;
  cursor: pointer;
}

@media (max-width: 720px) {
  .firstBlock {
    background: url("../images/mainFoto.svg");
    width: 100%;
    height: 850px;
  }
  .firstBlock .mainContent {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding-top: 200px;
  }
  .firstBlock .mainContent h1 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    color: #091133;
  }
  .firstBlock .mainContent .buttonBlock {
    display: flex;
    justify-content: space-between;
    width: 98%;
  }
  .firstBlock .mainContent button {
    width: 150px;
  }
  .firstBlock .mainContent button + button {
    width: 150px;
  }
}
.secondBlock {
  width: 100%;
  height: 600px;
  background: url("../images/secondBlockImage.svg");
  background-repeat: no-repeat;
  background-position-x: 80%;
  background-position-y: -10%;
}
.secondBlock .sbLeft {
  width: 36%;
  height: 56.8733153639%;
  margin-top: 10%;
  margin-left: 7%;
}
.secondBlock .sbLeft .sbLeftHeader {
  width: 100%;
  height: 50%;
}
.secondBlock .sbLeft .sbLeftHeader h2 {
  margin-bottom: 2.0215633423%;
}
.secondBlock .sbLeft .sbLeftFooter {
  display: flex;
  justify-content: space-between;
  height: 32.7014218009%;
  margin-top: 13.2701421801%;
}
.secondBlock .sbLeft .sbLeftFooter .sbLeftFooterLeft {
  width: 48%;
}
.secondBlock .sbLeft .sbLeftFooter .sbLeftFooterLeft h4 {
  margin: 10px 0 6px 0;
  cursor: pointer;
}
.secondBlock .sbLeft .sbLeftFooter .sbLeftFooterLeft p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #5D6970;
}
.secondBlock .sbLeft .sbLeftFooter .sbLeftFooterLeft svg {
  cursor: pointer;
}

@media (max-width: 720px) {
  .secondBlock {
    height: 550px;
    width: 95%;
    background: none;
    text-align: center;
  }
  .secondBlock .sbLeft {
    width: 98%;
    margin: 0 10px 0 15px;
  }
  .secondBlock .sbLeft .sbLeftHeader h2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    color: #091133;
  }
  .secondBlock .sbLeft .sbLeftFooter {
    margin-top: 220px;
  }
}
.thirdBlock {
  display: flex;
  width: 100%;
  height: 1755px;
}
.thirdBlock .thirdBlockLeft {
  width: 50%;
  height: 100%;
}
.thirdBlock .thirdBlockLeft img {
  margin: 15% 5% 10% 17%;
  cursor: pointer;
}
.thirdBlock .thirdBlockRight {
  width: 50%;
  height: 100%;
}
.thirdBlock .thirdBlockRight .blockText {
  width: 55%;
  margin: 18% 5% 40% 20%;
}
.thirdBlock .thirdBlockRight .blockText button {
  border: 1px;
  border-radius: 2px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  background-color: #111B47;
  width: 150px;
  height: 32px;
  margin-top: 10%;
  cursor: pointer;
}

@media (max-width: 720px) {
  .thirdBlock {
    width: 100%;
    height: 1050px;
  }
  .thirdBlock .thirdBlockLeft {
    display: none;
  }
  .thirdBlock .thirdBlockRight {
    width: 100%;
    margin: 0 auto;
  }
  .thirdBlock .thirdBlockRight .blockText {
    width: 96%;
    margin: 5% auto;
    text-align: center;
  }
  .thirdBlock .thirdBlockRight .blockText h3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: #091133;
    margin-bottom: 20px;
  }
  .thirdBlock .thirdBlockRight .blockText button {
    border: 1px;
    border-radius: 2px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    background-color: #111B47;
    width: 150px;
    height: 32px;
    margin-top: 10%;
    cursor: pointer;
  }
}
.fourBlock {
  width: 100%;
  height: 800px;
  background-image: url("../images/fourBlockImage.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: -20%;
}
.fourBlock .fourBlockContent {
  width: 40%;
  height: 60%;
  margin: 10% auto;
  text-align: center;
}
.fourBlock .fourBlockContent h3 {
  margin-bottom: 7%;
}
.fourBlock .fourBlockContent p {
  margin-bottom: 5%;
}
.fourBlock .fourBlockContent h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  color: #222F65;
}
.fourBlock .fourBlockContent #see {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #5D6970;
}
.fourBlock .fourBlockContent button {
  border: 1px;
  border-radius: 2px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  background-color: #111B47;
  width: 189px;
  height: 32px;
  cursor: pointer;
}

@media (max-width: 720px) {
  .fourBlock {
    width: 100%;
    height: 600px;
  }
  .fourBlock .fourBlockContent {
    width: 98%;
  }
}
footer {
  width: 100%;
  height: 4.6672428695%;
  display: flex;
  flex-direction: column;
  background-color: #E7ECFF;
}
footer .footerUp {
  display: flex;
  justify-content: space-between;
  width: 73%;
  height: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  border-bottom: 1px solid #CDD1D4;
}
footer .footerUp p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #939EA4;
}
footer .footerUp h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 38px;
  color: #37447E;
}
footer .footerUp button {
  margin-top: 0;
}
footer .footerDown {
  display: flex;
  justify-content: space-between;
  width: 73%;
  height: 30%;
  margin-left: auto;
  margin-right: auto;
}
footer .footerDown .footerDown_Left {
  width: 22%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footerDown .footerDown_Left p {
  color: #929ECC;
}
footer .footerDown .footerDown_Right {
  width: 18%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footerDown .footerDown_Right img {
  cursor: pointer;
}

@media (max-width: 720px) {
  footer {
    width: 100%;
    height: 200px;
  }
  footer .footerUp {
    display: flex;
    text-align: center;
    vertical-align: center;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 0;
    width: 98%;
    height: 80px;
  }
  footer .footerUp p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #939EA4;
  }
  footer .footerUp h3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #37447E;
  }
  footer .footerUp button {
    margin-top: 0;
    width: 120px;
    height: 42px;
    margin-left: 40px;
  }
  footer .footerDown {
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  footer .footerDown .footerDown_Left {
    width: 95%;
    margin: 15px auto;
    display: flex;
    justify-content: space-around;
  }
  footer .footerDown .footerDown_Right {
    width: 95%;
    margin: 15px auto;
    display: flex;
    justify-content: space-around;
  }
}

/*# sourceMappingURL=styles.css.map */
