body {background-color: #E5E5E5; font-family: 'Inter', 'Roboto', sans-serif;}

.container {
    margin: 50px 24px 50px 24px;

}
.banner_1 {
    display: inline-flex;
    width: 1440px;
    height: 72px;
    background-color: #0B2239;
}
p {
    display: block;
    color: #FFFFFF;
    font-size: 13px;
    line-height: 20px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    margin: 15px 15px 15px 50px;
    flex: none;
    order: 0;
}
#link1 {
    display: block;
    width: 86px;
    height: 20px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #4AD295;
    margin: 30px 15px 32px 15px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.banner_1 button {
    width: 110px;
    height: 45px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    background-color: #4ad295;
    margin: 13px 15px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.banner_2 {
    display: inline-flex;
    width: 1440px;
    height: 52px;
    flex: none;
    order: 1;
    flex-grow: 0;
    background-color: #2B2627;
    margin: 30px 0px 30px 0px ;
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    flex: none;
    order: 1;
    flex-grow: 0;
}
.banner_2 p {
    display: block;
    height: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    vertical-align: center;
}
.banner_2 a:link {
    color: #FFFFFF;
}
.img_b2 {
    width: 16px;
    height: 16px;
}

.banner_3 {
    display: inline-flex;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 24px;
    border-radius: 15px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    background: #ffffff;
    box-shadow: 0px 12px 24px -6px rgb(96 96 96 / 15%), 0px 0px 1px rgb(96 96 96 / 10%);
}

.banner_3 p {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #0D0C22;
    margin: 15px;

}
.banner_3 img {
    background-color: #FDEEF4;
    padding: 8px;
    border-radius: 10px;
    height: 20px;
    vertical-align: center;
    margin: 18px 0px 18px 16px;
}
.b_3_text {
    color: #ea4c89;
    text-decoration: none;}
.buttonDecline {

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    background-color: #F3F3F4;
    border: none;
    border-radius: 5px;
    margin: 13px 10px 13px 15px;
    height: 35px;
    width: 70px;
}
.buttonAllow {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    background-color: #ea4c89;
    border: none;
    border-radius: 5px;
    margin: 13px 0 13px 0px;
    height: 35px;
    width: 75px;
    color: #ffffff;
}

.banner_4 {
    background-color: #26262b;
    color: #ffffff;
    border-radius: 15px;
    padding-left: 16px;
    padding-top: 3px;
    padding-right: 16px;
    padding-bottom: 3px;
    display: block;
    width: 560px;
    margin-bottom: 70px;
    margin-left: 24px;
}
.banner_4 p {
    display: inline-flex;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 15px auto;
}
.banner_4 a {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    display: contents;
    color: #e6842e;
}
.button_Okay {
    font-style: normal;
    font-weight: 999;
    font-size: 12px;
    line-height: 20px;
    color: #26262B;
    margin-left: 15px;
    border-radius: 10px;
    width: 59px;
    height: 35px;
    text-transform: capitalize;
    border: none;
}

.container_2 {display: flex;  align-items: flex-start; }
.banner_5 {
    display: block;
    margin: 24px;
    width: 360px;
    height: 206px;
    background-color: #1c2540;
    color: #ffffff;
    padding: 24px;
    box-shadow: 0px 12px 24px -6px rgb(96 96 96 / 15%), 0px 0px 1px rgb(96 96 96 / 10%);
    border-radius: 5px;
}
#b5_header{

    height: 20px;
    margin: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.banner_5 p {

    width: 312px;
    padding: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 32px 0px 20px 0px;
}
.banner_5 h4 {
    display: inline-flex;
    width: 350px;
    vertical-align: center;

}
.banner_5  button {
    background-color: #09b3af;
    border-radius: 5px;
    border: none;
    margin-left: 50px;
    text-transform: capitalize;
    height: 35px;
    width: 85px;
    color: #ffffff;
}
.banner_5 a {color: #E5E5E5}



.banner_6 {
    display: block;
    width: 360px;
    height: 170px;
    background: #FFFFFF;
    margin: 24px;
    background: #FFFFFF;
    box-shadow: 0px 12px 24px -6px rgba(96, 96, 96, 0.15), 0px 0px 1px rgba(96, 96, 96, 0.1);
    border-radius: 16px;
}

.banner_6 h4 {
    margin-left: 17px;
    margin-bottom: 10px;
    height: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #0F181D;
}
.banner_6 p {
    width: 328px;
    height: 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #687F8C;
    margin-left: 19px;
}
#manageCookies {
    display: inline-flex;
    margin: 0px 10px 0px 15px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 10px;
    width: 160px;
    height: 32px;
    background: #EAF0F4;
    box-shadow: 0px 2px 2px -2px rgba(34, 38, 50, 0.3);
    border-radius: 6px;
    border: none;
}
#acceptAll {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 10px;
    width: 160px;
    height: 32px;
    background: #40C1A7;
    box-shadow: 0px 2px 2px -2px rgba(34, 38, 50, 0.3);
    border-radius: 6px;
    border: none;
}
.banner_7 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    gap: 32px;

    width: 320px;
    height: 260px;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(186, 226, 255, 0.15) 23.96%, rgba(229, 217, 255, 0.15) 71.87%, rgba(255, 255, 255, 0.15) 100%), #FFFFFF;
    box-shadow: 0px 8px 32px rgba(10, 3, 89, 0.1);
    border-radius: 20px;
}

.banner_8 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 16px;
    gap: 12px;

    width: 320px;
    height: 137px;

    background: #FFFFFF;
    box-shadow: 0px 8px 32px rgba(10, 3, 89, 0.1);
    border-radius: 4px;

}































