* {box-sizing: border-box}
@font-face {
    font-family: 'Avenir';
    src: url("font/Avenir.woff") format("woff")
}
@font-face {
    font-family: 'Helvetica';
    src: url("font/Helvetica.woff") format("woff")
}
body {
    width: 100vw;
    height: 3500px;
    background-color: white;
    padding: 0px;
    overflow-x: hidden;
}
.main {
    position: relative;
    width: 100vw;
    background-color: white;
    height: 1565px;

}
header {
    position: fixed;
    display: flex;
    left: 12%;
    align-items: center;
    width: 70%;
    height: 80px;
    /*border: 1px solid red;*/
    justify-content: space-between;
    z-index: 9;
}
.header_left {
    display: flex;
    align-items: center;
}
.header_right {
    display: flex;
    align-items: center;
    font-family: 'Avenir', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #4B5D68;
}
.nav_list {
    list-style: none;
    display: flex;
    padding-left: 120px;
    font-family: 'Avenir', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #4B5D68;
}
.cf_image {padding: 15px 9px 0px 0px}
.header_right {
    display: flex;
    align-items: center;
}
.header_right  button {
    width: 210px;
    height: 60px;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    border: none;
    text-align: center;
    font-family: 'Avenir', sans-serif;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 0.005em;
    line-height: 26px;
    align-items: center;
}
.header_right  button img {align-items: center; margin-left: 5px; }
.nav_list li {margin-left: 20%;}

/*class="section_main"*/
.section_main {
    width: 100%;
    height: 900px;
    display: flex;
    position: relative;
    left: 12%;
    align-items: flex-start;
    justify-content: space-between;
}
.section_main_left_head {
    display: flex;
    flex-direction: column;
    margin-top: 240px;
}
.save {
    font-family: 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 88px;
    color: #212353;

}
.main_left_head {
    font-family: 'Avenir', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    color: #4B5D68;
    margin-top: 50px;
}
.section_main_left_head button {
    margin-top: 50px;
    width: 170px;
    height: 60px;
    background-color: #9C69E2;
    border-radius: 50px;
    color: white;
    border: none;
}
.section_main_left_head button:hover {
    background-color: darkviolet;
    transition: 0.09s;
}
.section_main_left_head a {
    font-family: 'Avenir', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 29px;
    color: white;
    text-decoration: none;
}
.section_head_right img {
    margin-top: 336px;
    margin-left: -44%;
    width: 885px;
    height: 468px;
}
/*<div class="pink_area">*/
.pink_area {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 560px;
    left: 12%;
    top: 99px;
    border-radius: 50px;
    background-color: rgba(240, 99, 184, 0.15);
    box-sizing: border-box;

}
.pink_right_1 {
    display: block;
    width: 564px;
    padding-right: 16%;
    color: rgba(33, 35, 83, 1);
    font-family: 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
}
.pink_right_2 {
    display: block;
    font-family: Avenir, sans-serif;
    font-size: 18px;
    line-height: 28.8px;
    color: rgba(75, 93, 104, 1);
    padding-top: 40px;
    padding-right: 16%;
    /*padding-bottom: 125px;*/
}
/*<div class="features">*/
.features {
    width: 70%;
    height: 1040px;
    margin-top: 149px;
    position: relative;
    display: block;
    left: 12%;
}
.features_blok1 {
    margin-top: 189px;
    width: 100%;
    height: 275px;
    display: flex;
    justify-content: space-around;
}
.features a {
    font-family: Avenir, sans-serif;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    color: rgba(33, 35, 83, 1);
    margin-left: 30px;
}
.features p { margin-left: 30px;}
.features_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120px;
    text-align: center;
}
#features_header {
    font-family: 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #212353;
}
#some_features {
    margin-top: 50px;
    font-family: 'Avenir', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    color: #4B5D68;
}
.features_blok_left { display: flex;}
.features_blok_right {display: flex;}
/*.features_blok_right a {padding-top: 40px;}*/

#features_blok1_left_img { width: 232px; height: 211px;}
#features_blok1_right_img { width: 241px; height: 185px;}
.features_blok_header {
    color: rgba(33, 35, 83, 1);
    font-family: 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
}
.features_blok_text {

    font-family: 'Avenir', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #4B5D68;
    margin-top: 25px;
    margin-bottom: 25px;
}

.features_blok2 {
    margin-top: 189px;
    width: 100%;
    height: 275px;
    display: flex;
    justify-content: space-around;
}
#features_blok2_left_img { width: 245px; height: 181px;}
#features_blok2_right_img { width: 230px; height: 201px;}

/*<div class="violet_block">*/
.violet_block {
    position: relative;
    width: 70%;
    height: 709px;
    background-color: #9C69E2;
    border-radius: 50px;
    margin-top: 200px;
    left: 12%;
    box-sizing: border-box;
}

.violet_header {
    display: block;
    position: absolute;
    margin-top: 109px;
    left: 8.3%;
    color: white;
    font-family: 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
}
.violet_form {
    position: absolute;
    margin-top: 249px;
    left: 8.3%;
    width: 84%;
    height: 330px;
    background-color: white;
    border-radius: 20px;
    box-sizing: content-box;
    box-shadow: 0 20px 0 rgba(156, 105, 226, 0.3);
}
.man {
    position: absolute;
    width: 132px;
    height: 90px;
    left: 10.8%;
    margin-top: 60px;
}
.john_fang {
    position: absolute;
    margin-top: 80px;
    left: 30%;
}
.john_fang>a {
    font-family: Avenir, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 22.4px;
    color: rgba(156, 105, 226, 1);
}
#jf {
    font-family: 'Avenir', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.005em;
}
.jf_text {
    margin-top: 19px;
    font-family: Avenir, sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 32.4px;
    color: black;
}
.violet_block_flex {
    display: flex;
    width: 84%;
    height: 709px;
    margin-left: 93px;
    align-items: flex-end;
    justify-content: space-between;
}
#points {
    display: block;
    width: 63px;
    height: 17px;
    margin-bottom: 60px;
}
#arrows {
    display: block;
    width: 83px;
    height: 20px;
    margin-bottom: 60px;
}

footer {
    display: block;
    position: relative;
    width: 100vw;
    height: 765px;
    margin-top: 150px;
}

.footer_head {
    display: flex;
    position: relative;
    width: 70%;
    height: 200px;
    left: 12%;
    background-color: rgba(212, 207, 207, 0.98);
    border: 1px solid red;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.footer_head_left {
    display: block;



}
.footer_head_right {
    display: block;

}





.footer_main {
    display: flex;
    position: relative;
    width: 70%;
    height: 400px;
    left: 12%;
    background-color: rgba(212, 207, 207, 0.98);
    border: 1px solid red;
}
.footer_down {
    display: flex;
    position: relative;
    width: 70%;
    height: 200px;
    left: 12%;
    background-color: rgba(212, 207, 207, 0.98);
    border: 1px solid red;
}







#request_demo {
    width: 210px;
    height: 60px;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    border: none;
    text-align: center;
    font-family: 'Avenir', sans-serif;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 0.005em;
    line-height: 26px;
    align-items: center;
}
































.vector {
    width: 15px;
    height: 10px;
    margin-left: 10px;
}

















