* {box-sizing: border-box}
@font-face {
    font-family: 'Avenir';
    src: url("font/Avenir.woff") format("woff")
}
@font-face {
    font-family: 'Helvetica';
    src: url("font/Helvetica.woff") format("woff")
}
body {
    width: 100vm;
    background-color: white;
    padding: 0px;
}
header {
    position: fixed;
    display: flex;
    left: 12%;
    align-items: center;
    width: 70%;
    height: 80px;
    /*border: 1px solid red;*/
    justify-content: space-between;
}
.header_left {
    display: flex;
    align-items: center;
}
.header_right {
    display: flex;
    align-items: center;
    font-family: 'Avenir', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #4B5D68;
}
.nav_list {
    list-style: none;
    display: flex;
    padding-left: 120px;
    font-family: 'Avenir', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #4B5D68;
}
.cf_image {padding: 15px 9px 0px 0px}
.header_right {
    display: flex;
    align-items: center;
}
.header_right  button {
    width: 210px;
    height: 60px;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    border: none;
    text-align: center;
    font-family: 'Avenir', sans-serif;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 0.005em;
    line-height: 26px;
    align-items: center;
}
.header_right  button img {align-items: center; margin-left: 5px; }
.nav_list li {margin-left: 20%;}

/*class="section_main"*/
.section_main {
    width: 100%;
    height: 900px;
    display: flex;
    position: relative;
    left: 12%;
    align-items: flex-start;
    justify-content: space-between;
}
.section_main_left_head {
    display: flex;
    flex-direction: column;
    margin-top: 240px;
}
.save {
    font-family: 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 88px;
    color: #212353;

}
.main_left_head {
    font-family: 'Avenir', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    color: #4B5D68;
    margin-top: 50px;
}
.section_main_left_head button {
    margin-top: 50px;
    width: 170px;
    height: 60px;
    background-color: #9C69E2;
    border-radius: 50px;
    color: white;
    border: none;
}
.section_main_left_head button:hover {
    background-color: darkviolet;
    transition: 0.09s;
}
.section_main_left_head a {
    font-family: 'Avenir', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 29px;
    color: white;
    text-decoration: none;
}
.section_head_right img {
    margin-top: 336px;
    margin-left: -44%;
}

















































