body {
    background-color: #2C2C2C;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}
.wrapper {
    width: 800px;
    margin: 70px;
    border-collapse: collapse;
    color: white;
    border: 1px solid rgba(255 255 255 / 50%);
    border-radius: 5px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
tr, th, td {
    border-bottom: 1px solid rgba(255 255 255 / 50%);
    padding: 13px;
    vertical-align: center;
}
tfoot tr, td {border-bottom: 0px;}
th {text-align: left}













